 <div class="col-12 d-flex flex-column">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Asset Name</th>
          <th>Brand</th>
          <th>Model</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets">
          <td>{{ asset.id }}</td>
          <td>{{ asset.name }}</td>
          <td>{{ asset.brand }}</td>
          <td>{{ asset.model }}</td>
          <td>{{ asset.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>